# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build artifacts
/dist
/client/dist
/server/dist
/packages/i18n/dist
/packages/types/dist

# Environment variables
.env
client/.env
server/.env

# Lock files
package-lock.json
client/package-lock.json
server/package-lock.json
packages/i18n/package-lock.json
