@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}
